hr {
    margin: 100px 0;
}

.main-content {
    text-align: left;
}

.museum-logo {
    height: 75px;
    width: 75px;
    float: right;
}

.painting {
    height: 25%;
    right: 25px;
}

.banner {
    height: 20%;
}
