hr {
    margin: 100px 0;
}

.main-content {
    text-align: left;
    margin-left: 35px;
}

.museum-logo {
    height: 75px;
    width: 75px;
    float: right;
}

.painting {
    height: 40%;
    margin-top: 25px;
    object-position: right;
}

.banner {
    height: 40%;
}
