hr {
    margin: 100px 0;
}

.main-content {
    text-align: left;
    margin-left: 35px;
}

.museum-logo {
    height: 50px;
    width: 50px;
    margin-right: 30px;
}

.painting {
    height: 25%;
    margin-top: 15px;
    margin-right: 10px;
}

.banner {
    height: 40%;
}
